
djangorestframework==3.17.1
pymongo==4.17.0
PyJWT==2.13.0
cloudinary==1.44.2
django-cors-headers==4.9.0
python-dotenv==1.2.2
dnspython==2.8.0
Pillow==12.2.0
gunicorn==23.0.0
whitenoise[brotli]==6.9.0
